@font-face{
  font-family: Libre;
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf);
}

*{
  margin: 0;
  font-family: Libre;
  
}

.name-container{
  display: flex;
}
.name-container img{
  width: 150px;
  padding-right: 40px;
  padding-bottom: 20px;
  /* border-radius: 30%; */
  /* border-radius: 100%; */
  border-radius: 5px;
}

.leftbar-container{
  /* border: 1px solid blue; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 2px solid gray;
}
.leftbar-container ul{
  padding-left: 10px;
}
.leftbar-container .title{
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
}
.education-card{
  /* border:1px solid red; */
  padding: 10px 0;
  position: relative;
}
.course{
  position: absolute;
  top:4px;
  right: 4px;
}
.header-container{
  display: grid;
  place-items: center;
  padding: 10px 0;
  border-bottom: 2px solid gray;
}
.body{
  display: grid;
  grid-template-columns: 4fr 10fr;
}